
@{
    ViewBag.Title = "Index";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="embed-responsive" style="width:100%; position:absolute; min-height:100%;">
    <iframe name="right" class="embed-responsive-item" src="index/dashboard"></iframe>
</div>